.brand-logo {
    font-weight: 600;
    
}

.nav-bg {
    background: #fff;
    position: relative;
    top: 0;
    z-index: 1;
     box-shadow: 2px 5px 20px rgba(0, 0, 1, 0.774);
}

.nav-bg a{
    color: black;

}

.footer-bg {
    background: linear-gradient(259deg, rgba(123,22,190,1) 10%, rgba(96,6,219,1) 53%, rgb(79, 29, 243) 85%);
}

.fixed-footer {
    position: fixed;
    
    width: 100%;
    bottom: 0;
    left: 0;
}

.fab {
    font-size: 20px;
    padding: 10px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    margin: 5px;
}

.flashes h4 {
    line-height: 2;
}

.footer-img {
    width: 150px;
}

.bg-img {
    width: 60vw;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    left: 0; right: 0; 
    bottom: 1px;
}

.home {
    margin-bottom: 200px;
    position: relative;
    background: rgb(92, 44, 170);
    height: 750px;
}

.header {
    color: rgb(243, 243, 243);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    align-items: center;
    font-size: 3vw;
    z-index: 0.5;
    font-weight: 600;
    top: 100px;
}

@media only screen and (max-width: 1200px){
    .bg-img {
        width: 90%;
        position: absolute;
        margin: 0 auto;
        text-align: center;
        left: 0; right: 0; 
        bottom: 1px;
    }

    .header {
        font-size: 4vw;

    }
    .home {
        margin-bottom: 200px;
        position: relative;
        background: rgb(92, 44, 170);
        height: 650px;
    }
}
@media only screen and (max-width: 500px){
    .bg-img {
        width: 100%;
        position: absolute;
        margin: 0 auto;
        text-align: center;
        left: 0; right: 0; 
        bottom: 1px;
    }

    .header {
        font-size: 5vw;

    }
    .home {
        margin-bottom: 200px;
        position: relative;
        background: rgb(92, 44, 170);
        height: 350px;
    }
}


