{% extends "base.html" %}
{% block content %}


<!-- book collection all custom coded by the developer -->
<section>
    <div class="container">
        <h1 class="small-header">This Weeks Top Picks...</h1>

        <!-- the 48 laws of power -->
        <div class="row">
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="{{ url_for('book_reviews') }}">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-1.png') }}" alt="book">
                </a>
                <a href="{{ url_for('book_reviews') }}"
                    class="bold green darken-3 waves-effect waves-light btn-small center-align">Write a review</a>
                <h5 class="center-align">The 48 Laws Of..</h5>
                <h5 class="center-align">Robert Greene</h5>
                <h6 class="center-align ">£10.99</h6>
            </div>

            <!-- book the secret -->
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="{{ url_for('the_secret_book') }}">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-2.jpg') }}" alt="book"></a>

                <a href="{{ url_for('the_secret_book') }}"
                    class="bold green darken-3 waves-effect waves-light btn-small center-align">Write a review</a>

                <h5 class="center-align">The Secret</h5>
                <h5 class="center-align">Rhonda Byrne</h5>
                <h6 class="center-align">£15.31</h6>
            </div>

            <!-- the Alchemist -->
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="{{ url_for('the_alchemist') }}">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-11.jpg') }}" alt="book">
                </a>

                <a href="{{ url_for('the_alchemist') }}"
                    class="bold green darken-3 waves-effect waves-light btn-small center-align">Write a review</a>

                <h5 class="center-align">The Alchemist</h5>
                <h5 class="center-align">Paulo Coelho</h5>
                <h6 class="center-align">£10.99</h6>
            </div>

            <!-- the power of now -->
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="{{ url_for('power_of_now') }}">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-4.jpg') }}" alt="book">
                </a>

                <a href="{{ url_for('power_of_now') }}"
                    class="bold green darken-3 waves-effect waves-light btn-small center-align">Write a review</a>

                <h5 class="center-align">The Power Of Now</h5>
                <h5 class="center-align">Eckhart Tolle</h5>
                <h6 class="center-align">£10.99</h6>
            </div>
        </div>

        <h1 class="small-header">Coming Soon To Review..</h1>

        <hr>

        <!-- book row 2 coming soom catalogue -->
        <div class="row">
            <div class="card">
                <div class="col s6 m6 l3 book_reviews center-align">
                    <a href="https://www.amazon.co.uk/Four-Agreements-Practical-Personal-Freedom/dp/1878424319/ref=sr_1_1?crid=WZF6K3Y8MZTP&keywords=the+four+agreements&qid=1637662657&sprefix=the+four+a%2Caps%2C152&sr=8-1" target="_blank" >
                        <img class="hoverable" src="{{ url_for('static', filename='images/book-9.jpg') }}" alt="book">
                    </a>
                    <h5 class="center-align">The Four..</h5>
                    <h5 class="center-align">Don Miguel Ruiz</h5>
                    <h6 class="center-align">£5.66</h6>
                </div>
            </div>
            <!-- The 7 Habits of highly effective people -->
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="https://www.amazon.co.uk/Habits-Highly-Effective-People-Anniversary/dp/1642503177/ref=sr_1_2_sspa?crid=3KX48R3HB42YL&keywords=the+7+habits+of+highly+effective+people&qid=1637663097&sprefix=the+7+%2Caps%2C156&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzODNQRlowTjg2S0pYJmVuY3J5cHRlZElkPUEwNDQzNTcwMUJXMU9ESDMwMDIxTSZlbmNyeXB0ZWRBZElkPUEwMzAzNDY4QUJGVTVZS1QzOEZMJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" target="_blank">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-6.jpg') }}" alt="book">
                </a>
                <h5 class="center-align">The 7 Habits of..</h5>
                <h5 class="center-align">Stephen R. Covey</h5>
                <h6 class="center-align">£12.45</h6>
            </div>
            <!-- Can't Hurt Me -->
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="https://www.amazon.co.uk/Cant-Hurt-Me-Master-Clean/dp/1544507852/ref=sr_1_2?crid=1NIF4LAGZBL6U&keywords=you+cant+hurt+me+david+goggins&qid=1637663791&sprefix=ypu+cant+hurt%2Caps%2C155&sr=8-2" target="_blank">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-12.jpg') }}" alt="book">
                </a>
                <h5 class="center-align">Can't Hurt Me</h5>
                <h5 class="center-align">David Goggins</h5>
                <h6 class="center-align">£14.99</h6>
            </div>
            <!-- Feel The Fear.. -->
            <div class="col s6 m6 l3 book_reviews center-align">
                <a href="https://www.amazon.co.uk/Feel-Fear-Anyway-Quick-Reads/dp/1785041126/ref=sr_1_2?crid=VQ4SOA9DEOBI&keywords=feel+the+fear+and+do+it+anyway&qid=1637663859&sprefix=feel%2Caps%2C175&sr=8-2" target="_blank">
                    <img class="hoverable" src="{{ url_for('static', filename='images/book-13.jpg') }}" alt="book">
                </a>
                <h5 class="center-align">Feel The Fear..</h5>
                <h5 class="center-align">Susan Jeffers</h5>
                <h6 class="center-align">£1.99</h6>
            </div>
        </div>
    </div>
</section>

{% endblock %}