<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
        crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Book Hub</title>
</head>

<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>

    <!-- top header -->
   <header class="main-header">
            <a class="center-align" href="{{ url_for('home') }}"><span>Book Hub</span></a>
            <img src="{{ url_for('static', filename='images/pngwing-7.png') }}"
            style="width: 50px;" alt="logo">
    </header>

    <!-- top navbar -->
    <nav class="nav-bg navbar-fixed" id="myHeader">
        <div class="container center-align">
            <a class="header-logo" href="{{ url_for('home') }}"><span>Book Hub</span></a>
            <i class="fas fa-search"></i>
            <a href="https://www.google.com/maps/@51.3998848,-0.2081109,14z" target="_blank"><i
                    class="fas fa-map-marker-alt"></i></a>
            {% if session.user %}
            <a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user-alt"></i></a>
            {% else %}
            <a href="{{ url_for('register') }}"><i class="fas fa-user-alt"></i></a>
            {% endif %}
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="btn-line" href="{{ url_for('home') }}">Home</a></li>
                {% if session.user %}
                <li><a class="btn-line" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a class="btn-line" href="{{ url_for('add_review') }}">Review Books</a></li>
                <li><a class="btn-line" href="{{ url_for('logout') }}">Log Out</a></li>
                <li> <a class="btn-line modal-trigger" href="{{ url_for('user_admin') }}">Account Settings</a></li>
                {% else %}
                <li><a class="btn-line" href="{{ url_for('login') }}">Sign In</a></li>
                <li><a class="btn-line" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- search form -->
        <form class="example" action="{{ url_for('search') }}" method="POST">
            <input type="text" placeholder="Search, Title, author" minlength="3" id="query" name="query" required>
            <button type="submit">Search</button>
            <label for="query"></label>
        </form>
    </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="mobile-logo center-align"><span>B</span>ook Hub</h4></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_review') }}">Review Books</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li><a class="modal-trigger" href="{{ url_for('user_admin') }}">Account Settings</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>  
            {% endif %}   
        </ul>
   
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="ROW flashes center-align">
                    <h5 class=" green accent-1">{{ message }}</h5>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}    
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <section>
        <div class="bag-logo">
            <div class="app grey lighten-2 ">
                <h1>Download Our App</h1>
                <p class="bold">Get your book reviews anytime, anywhwere with the bookhub app.</p>
                <div class="app-logo">
                    <a href="https://www.apple.com/uk/app-store/" target="_blank"><img src="{{ url_for('static', filename='images/app-img2.png') }}" style="width: 200px;" alt="app store"></a>
                    <a href="https://play.google.com/store/search?q=bookhub&c=apps" target="_blank"><img src="{{ url_for('static', filename='images/app-img4.png') }}" style="width: 200px;" alt="app store"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="page-footer footer-bg fixed-footer black-text">
        <div class="container">
            <div class="row">
                <div class="col s12 l4">
                    <h6 class="black-text">Book Hub</h6>
                    <p>Supporting local bookshops</p>
                    <h6 class="black-text"> Follow us</h6>
                    <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>  
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col s12 l4 right">
                    <h5 class="black-text bold">Links</h5>
                    <ul>
                        <li><a class="black-text text-lighten-3" href="#">About</a></li>
                        <li><a class="black-text text-lighten-3" href="#">Support / Help</a></li>
                        <li><a class="black-text text-lighten-3" href="#">Become an Affiliate</a></li>
                        <li><a class="black-text text-lighten-3" href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="footer-copyright white">
            <div class="container center-align">
                <h6 class="black-text"> © Copyright Limited 2021. All Rights Reserved</h6>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% block scripts %}
        {% endblock %}
</body>
</html>