{% extends "base.html" %}
{% block content %}


<!-- user admin account -->
<div class="container">
    <div class="row">
       {% for user in users %}
       {% if session.user == user.username %}
     
        <div class="col s12">
            <div class="card-panel  profile-user-2">
                <h4 class="center-align">
                    User Settings
                </h4>

                  <!-- user  -->
                  <div class="row center-align">
                    <div class="col s12 m10 offset-m1">
                        <h5>User to be deleted:</h5>
                        <h6>Username: {{ user.username }}</h6>
                        <h6>Email: {{ user.email_address }}</h6>               
                    </div>
                </div>
              
                <!-- modal box -->
                <div id="modal1" class="col l4 m4 offset-l2 modal">    
                    <div class="modal-content">
                        <h4 class="bold">Delete Account</h4>
                        <p>Are you sure you want to delete your account?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="bold modal-close waves-effect grey white-text waves-grey btn-flat">Cancle</a>
                        <a href="{{ url_for('delete_user', user_id=user._id) }}" class="bold modal-close waves-effect red white-text waves-red btn-flat">Delete</a>
                    </div>
                </div> 

                <div class="container center-align margin-top">
                    <a class="bold waves-effect waves-light btn-large grey modal-trigger delete-btn" href="{{ url_for('home') }}">Cancel</a>
                    <a class="bold waves-effect waves-light btn-large red modal-trigger delete-btn" href="#modal1">Delete Account</a> 
                </div>
                </div>    
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}