{% extends "base.html" %}
{% block content %}
<div class="container">
    <h4 class="center-align title edit">Edit Reviews ;) </h4>

    {% for review in reviews %}  
    {% if session.user|lower == review.created_by|lower %}

    <!-- edit review form -->
    <div class="row box" id="post">
        <form class="text-body" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <div class="row">

                <!-- review headline -->
                <div class="col s12">
                    <h6>Add a headline</h6>
                    <label for="headline">comments:</label>
                    <textarea id="headline" placeholder="What's most important to know?" name="headline" minlength="5"
                        maxlength="100" required>
                    {{- review.headline -}}
                    </textarea>
                </div>
                
                <!-- review textarea -->
                <div class="col s12 height">
                    <h6>Add a written review</h6>
                    <label for="book_review">comments:</label>
                  
                    <textarea id="book_review" placeholder="What did you like or dislike about this book?"
                        name="book_review" minlength="5" style="height: 150px;" maxlength="600" required>
                    {{- review.book_review -}}     
                    </textarea>
                    <!-- cancel button -->
                    <a href="{{ url_for('book_reviews') }}" class="btn grey darken- text-shadow">
                        cancel <i class="fas fa-times-circle right"></i>
                    </a>

                    <!-- submit button -->
                    <button class="btn waves-effect waves-light blue" type="submit">Update
                        <i class="fas fa-edit"></i>
                    </button>
            
                </div>       
            </div>    
        </form> 
    </div>
    {% endif %} 
    {% endfor %} 
    <h6 class="text-darken-4 center-align margin-top">Top Reviews from United Kindom</h6>
    <hr>  
</div>
{% endblock %}