{% extends "base.html" %}
{% block content %}

<!-- All custom coded by the developer -->
<!-- home section -->
<section class="home">
    <div class="row">
        <!-- header -->
        <div class="col s6">
            <h3 class="header">
                <span-1><em>Join the UK's No.1 Hub</em></span-1><br>start <span-2>reviewing</span-2><br>
                <span-3>Top Selling books</span-3>
            </h3>
        </div>
        <!-- hero image -->
        <div class="bg-img"></div>
    </div>
    <!-- condition to hide register button 
            if the user is logged in -->
    {% if session.user %}
    {% else %}
    <a href="{{ url_for('register') }}" class="waves-effect waves-light btn-large button-1 bold">Register Now </a>
    {% endif %}
</section>
<!-- end home -->

<section>
    <div class="container home-books">
        <h1 class="small-header">This Weeks Top Picks...</h1>
        <div class="row">
            <!-- the 48 laws of.. -->
            <div class="overlay-box bold col s6 m3 l3 book_reviews center-align">
                <a href="{{ url_for('book_reviews') }}">
                <img src="{{ url_for('static', filename='images/book-1.png') }}" alt="book"></a>
                <h5 class="center-align">The 48 Laws..</h5>
                <h5 class="center-align blue-text text-darken-4">Robert Greene</h5>
                <h6 class="center-align"><del>£17.99</del> £10.99</h6>
                <a href="https://www.amazon.co.uk/dp/1861972784/"
                class=" bold waves-effect waves-light buy-button btn-small" target="_blank">Buy
                Now </a>
            </div>
            <!-- book the secret -->
            <div class="bold col s6 m3 l3 book_reviews center-align">
                <a href="{{ url_for('the_secret_book') }}">
                <img src="{{ url_for('static', filename='images/book-2.jpg') }}" alt="book"></a>
                <h5 class="center-align">The Secret</h5>
                <h5 class="center-align blue-text text-darken-4">Rhonda Byrne</h5>
                <h6 class="center-align"><del>£16.99</del>£12.95</h6>
                <a href="https://www.amazon.co.uk/Secret-Rhonda-Byrne/dp/1471172392/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1635418158&sr=8-1"
                class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">Buy
                Now <i class="fas fa-shopping-cart"></i></a>
            </div>
            <!-- the wild silence -->
            <div class="bold col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-19.jpg') }}" alt="book">
                <h5 class="center-align">The Wind Silence</h5>
                <h5 class="center-align blue-text text-darken-4">Raynor Winn</h5>
                <h6 class="center-align"><del>£12.99</del>£6.99</h6>
                <a href="https://www.amazon.co.uk/dp/024140147X/ref=sspa_dk_detail_2?psc=1&pd_rd_i=024140147X&pd_rd_w=s2607&pf_rd_p=828203ef-618e-4303-a028-460d6b615038&pd_rd_wg=39CLV&pf_rd_r=8S3NF6P1YXPSGCA10X81&pd_rd_r=40728790-9208-41f7-ae40-bdb251ecd4a9&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExOUxROThXQ0VaSVY1JmVuY3J5cHRlZElkPUExMDI3NzcwMVowMUNKV1lZRFhNRCZlbmNyeXB0ZWRBZElkPUEwMTQ5MjY0MzlBSktPNjlKT0FMMCZ3aWRnZXROYW1lPXNwX2RldGFpbCZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU="
                class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">
                Buy Now <i class="fas fa-shopping-cart"></i></a>
            </div>

            <!-- the power of now -->
            <div class="bold col s6 m3 l3 book_reviews center-align">
                <a href="{{ url_for('power_of_now') }}">
                <img src="{{ url_for('static', filename='images/book-4.jpg') }}" alt="book"></a>
                <h5 class="center-align">The Power Of Now</h5>
                <h5 class="center-align blue-text text-darken-4">Eckhart Tolle</h5>
                <h6 class="center-align">£10.99</h6>
                <a href="https://www.amazon.co.uk/Power-Now-Spiritual-Enlightenment-Paperback/dp/B0168SHVH2/"
                class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">Buy Now <i
                class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <hr>

        <h1 class="small-header">Top Best Sellers...</h1>

        <div class="row">
            <!-- the alchemist -->
            <div class="card">
                <div class="col s6 m3 l3 book_reviews center-align">
                    <img src="{{ url_for('static', filename='images/book-11.jpg') }}" alt="book">
                    <h5 class="center-align">The Alchemist</h5>
                    <h5 class="center-align">Paulo Coelho</h5>
                    <h6 class="center-align">£10.99</h6>
                    <a href="https://www.amazon.co.uk/Alchemist-Paulo-Coelho/dp/0062390627/ref=sr_1_2?crid=MOIKRZPKNW25&keywords=the+alchemist&qid=1637845168&s=books&sprefix=the+alch%2Cstripbooks%2C153&sr=1-2"
                    class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">Buy Now <i
                    class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <!-- cant hurt me -->
            <div class="card">
                <div class="col s6 m3 l3 book_reviews center-align">
                    <img src="{{ url_for('static', filename='images/book-12.jpg') }}" alt="book">
                    <h5 class="center-align">Can't Hurt Me</h5>
                    <h5 class="center-align">David Goggins</h5>
                    <h6 class="center-align">£14.99</h6>
                    <a href="https://www.amazon.co.uk/Cant-Hurt-Me-Master-Your/dp/1544512279/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1637845026&sr=1-6"
                    class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">Buy Now <i
                    class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <!-- feel the fear.. -->
            <div class="col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-13.jpg') }}" alt="book">
                <h5 class="center-align">Feel The Fear..</h5>
                <h5 class="center-align">Susan Jeffers</h5>
                <h6 class="center-align"><del>£7.99</del>£1.99</h6>
                <a href="https://www.amazon.co.uk/Feel-Fear-Anyway-Quick-Reads/dp/1785041126/ref=sr_1_2?crid=1KBOIAOT085LH&keywords=feel+the+fear+and+do+it+anyway&qid=1637844981&s=books&sprefix=fee%2Cstripbooks%2C161&sr=1-2"
                class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">Buy Now <i class="fas fa-shopping-cart"></i></a>    
            </div>
            <!-- the mountain is you  -->
            <div class="col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-20.jpg') }}" alt="book">
                <h5 class="center-align">The Mountain..</h5>
                <h5 class="center-align">Brianna Wiest</h5>
                <h6 class="center-align"><del>£10.99</del>£4.99</h6>
                <a href="https://www.amazon.co.uk/Mountain-You-Transforming-Self-Sabotage-Self-Mastery/dp/1949759229/ref=sr_1_1?crid=1PTCXAJVHJN0T&keywords=the+mountain+is+you&qid=1637845231&s=books&sprefix=the+mou%2Cstripbooks%2C157&sr=1-1"
                class="bold waves-effect waves-light btn-small center-align buy-button" target="_blank">Buy Now <i
                class="fas fa-shopping-cart"></i></a>
            </div>
        </div>

        <hr>

        <h1 class="small-header">Best Reviews Of The Week...</h1>
        <!-- the subtle art... -->
        <div class="row">
            <div class="card">
                <div class="col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-5.jpg') }}" alt="book">
                <h5 class="center-align">The Subtle Art..</h5>
                <h5 class="center-align">Mark Manson</h5>
                <h6 class="center-align"><del>£17.99</del>£12.99</h6>
                <a href="https://www.amazon.co.uk/Subtle-Art-Not-Giving-Counterintuitive/dp/0062457713/ref=sr_1_1?keywords=The+Subtle+Art+of+Not+Giving+a+F*ck&qid=1637844893&s=books&sr=1-1"
                target="_blank" class="bold waves-effect waves-light btn-small center-align buy-button">Buy Now <i
                class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <!-- Manifest -->
            <div class="col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-18.jpg') }}" alt="book">
                <h5 class="center-align">Manifest</h5>
                <h5 class="center-align">Roxie Nafousi</h5>
                <h6 class="center-align"><del>£14.99</del>£11.99</h6>
                <a href="https://www.amazon.co.uk/Manifest-Steps-Living-Your-Best/dp/0241539595/ref=sr_1_5?keywords=manifest&qid=1637766890&s=books&sr=1-5"
                target="_blank" class="bold waves-effect waves-light btn-small center-align buy-button">Buy Now <i
                class="fas fa-shopping-cart"></i></a>
            </div>
             <!-- Think and grow rich -->
            <div class="col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-7.jpg') }}" alt="book">
                <h5 class="center-align">Think & Grow..</h5>
                <h5 class="center-align">Napoleon Hill</h5>
                <h6 class="center-align"><del>£10.99</del>£8.69</h6>
                <a href="https://www.amazon.co.uk/Think-Grow-Rich-Napoleon-Hill/dp/0091900212/ref=sr_1_4?crid=2TXC660CB6EL9&keywords=think+and+grow+rich&qid=1637766629&s=books&sprefix=think%2Cstripbooks%2C197&sr=1-4"
                target="_blank" class="bold waves-effect waves-light btn-small center-align buy-button">Buy Now <i
                class="fas fa-shopping-cart"></i></a>
            </div>
             <!-- Who moved my cheese -->
            <div class="col s6 m3 l3 book_reviews center-align">
                <img src="{{ url_for('static', filename='images/book-8.jpg') }}" alt="book">
                <h5 class="center-align">Who Moved My..</h5>
                <h5 class="center-align">DR Spencer..</h5>
                <h6 class="center-align"><del>£8.99</del>£2.99</h6>
                <a href="https://www.amazon.co.uk/Who-Moved-My-Cheese-Amazing/dp/0091816971/ref=sr_1_1?crid=PCIPW1E2M9NN&keywords=who+moved+my+cheese&qid=1637766772&s=books&sprefix=who%2Cstripbooks%2C180&sr=1-1"
                target="_blank" class="bold waves-effect waves-light btn-small center-align buy-button">Buy Now <i
                class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}