{% extends "base.html" %}
{% block content %}

    <!-- home section -->
    <section class="col s12 home">
        <h3 class="header"> Amazing deals on <br> best selling books <br>
            </h3>
            <div class="row">
                <div class="bg-img">
                <img src="{{ url_for('static', filename='images/book-shelf.png') }}" style="width: 100%;"
                        alt="hero image">
            </div>
        </div>
        <!--<div class="button">
            <a class="waves-effect waves-light btn-large red">Register Now</a>
        </div>-->
    </section>
    <!-- end home -->

    <!--<section>
        <div class="row">
            <div class="col 4 s4 badge-2 banner">
                <img src="{{ url_for('static', filename='images/book-21.png') }}" alt="book">
            </div>
            <div class="col 4 s4 banner badge-4">
                <h2>Out now <br> <span>read and review!</span></h2>
            </div>
            <div class="col 4 s4 badge-3 banner">
                <img src="{{ url_for('static', filename='images/book-22.png') }}" alt="book">
            </div>
        </div>
    </section>-->

        
    <!--<div class="row">
        <div class="carousel carousel-slider center">
            <div class="carousel-item grey darken-4 white-text" href="#three!">
                <img src="{{ url_for('static', filename='images/book_review.png') }}"
                style="width: 50%; height: 450px;" alt="book">  
            
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <img src="{{ url_for('static', filename='images/elon-musk.png') }}"
                style="width: 400px; height: 450px;" alt="book">    
            </div>
            <div class="carousel-item red white-text" href="#one!">
                <img src="{{ url_for('static', filename='images/book-21.png') }}"
                style="width: 300px; height: 450px;" alt="book">    
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <img src="{{ url_for('static', filename='images/book_review.png') }}"
                style="width: 50%; height: 450px;" alt="book">  
            </div>
        </div>
    </div>-->
           
 

<!-- footer -->
<footer class="page-footer footer-bg fixed-footer">
        <div class="row">
            <div class="col 12 s4">
                <h5 class="white-text"><i class="fas fa-book-open"></i> Book Hub</h5>
                <p>Supporting local bookshops</p>
                Follow us <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="col 4 s4">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Support / Help</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Become an Affiliate</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

{% endblock %}