{% extends "base.html" %}
{% block content %}

<!-- welcome message -->
<div class="container">
    <div class="row">
        <div class="card-panel">
            <h1 class="center-align font">
                {{ username }}'s Profile
            </h1>
        </div>
    </div>
</div>
<!-- content Layout here -->
<div class="container">
    <div class="row">
        <div class="col l3 s12 m12">
            <div class="card-panel center-align profile-user-2">
                <i class="fas fa-user profile">
                    {{ user_photo }}
                </i>
                <h6 class="light-black-text text-darken-4 user-name">
                    {{ username }}
                </h6>
                <a class="btn red" href="{{ url_for('logout') }}">Log Out</a>
                <a class="btn grey modal-trigger" href="{{ url_for('user_admin') }}">Settings</a>
            </div>
        </div>
        <div class="col l9 s12 m12">
            <div class="card-panel profile-user">
            </div>
        </div>
    </div>
</div>
{% endblock %}
