{% extends "base.html" %}
{% block content %}


<h3 class="center-align">Loged In</h3>

<div class="row">
    <div class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
                   
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col 6 s6 bk-8">
                <img src="{{ url_for('static', filename='images/ms3-background-4.png') }}" alt="">
            </div>
            <div class="col 6 s6 bk-9">
                <h1>Lorem ipsum, dolor sit </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Aperiam id fugit rerum impedit. Aspernatur esse harum
                    explicabo ipsa quae, quam vitae cupiditate cum? Perferendis
                    saepe, facere sit neque distinctio debitis?
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}