{% extends "base.html" %}
{% block content %}

<!-- welcome message -->
<div class="container">
    <div class="row">
        <div class="col s12" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <h1 class="center-align font">
                    Hi {{ username }}
                </h1>
            </div>
        </div>
    </div>
</div>
 
 <!-- content Layout here -->
<div class="container">
    <div class="row">
        <div class="col s3">
            <div class="card-panel profile-user-2 ">
                <i class="fas fa-user-circle profile"></i>
                <h3 class="center-align light-blue-text text-darken-4 user-name">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>

        <div class="col s9">
            <div class="card-panel profile-user">
                <div class="container post-box">
                    {% for review in reviews %}   
                        <div class="row">
                            <div class="col s12 s6">  
                                <div class="card-panel">  
                                    <p><em><i class="fas fa-user-circle"></i> {{ review.created_by }}</em></p>
                                    <p class="post">{{ review.headline }}</p>
                                    <p class="bold">{{ review.ratings }}</p>
                                    <p class="post-2 bold text-color">Verified</p>
                                    <p><em>Reviewed in the United Kingdom on</em> {{ review.date_time }}</p>
                                    <p>{{ review.book_review }}</p>   
                                    {% if session.user|lower == review.created_by|lower %}
                                        <a href="{{ url_for('edit_post', review_id=review._id) }}" class="waves-effect waves-light blue btn"><i class="far fa-edit"></i></a>
                                        <a href="{{ url_for('delete_review', review_id=review._id) }}" class="waves-effect waves-light red btn"><i class="far fa-trash-alt"></i></a>
                                    {% endif %}
                                </div>
                            </div>  
                        </div>
                    {% endfor %}
                </div>
            </div>      
        </div> 
    </div>
</div>
{% endblock %}
