{% extends "base.html" %}
{% block content %}


<h3 class="text-black bold center-align">The Secret</h3>

<div class="container">
    <div class="row">
        <!--book image -->
        <div class="col s12 l5 pull-l1">
        <div class="materialboxed center-align">
            <img src="{{ url_for('static', filename='images/book-2.jpg') }}"
                style="width: 60%;" alt="book">
        </div>    
    </div>
       <div class="col s12 l7 pull-7 description-txt">

           <span class="flow-text">
               <h4 class="description">The Secret Hardcover – 4 Dec. 2006</h4>

                <a href="https://en.wikipedia.org/wiki/Rhonda_Byrne" target="_blank">
                    <p class="txt-1"><span>by</span> Rhonda Byrne</p>
                </a>

                <hr class="margin-bottom">
                
                <div class="col s12 m12 l12 line-height">
                    <a href="https://www.amazon.co.uk/Secret-Rhonda-Byrne/dp/1471172392/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1635418158&sr=8-1"
                    class="margin-bottom  waves-effect waves-light btn-large orange darken-4" target="_blank">Buy Now</a>

                    <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>  
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    
                    <p class="bold"><em>Price - £12.78</em></p>   
                    <h4 class="description">Description</h4>
                </div>    
               
                
                <p class="txt col s12">The Secret by Rhonda Byrne is a self-help book that embarks to motivate the reader about a universal
                    paradigm about success that can be achieved though it remains hidden for most people. The book
                    explores about unveiling<span id="dots">...</span><span id="more"> this little secret which may transform how people look at things and lead
                    them on to the road of success and true happiness. According to the author, the book makes proper
                    use of the 'law of attraction and shows how positive thinking can open treasure trove of bountiful
                    happiness, health and wealth. The book posits the law of attraction as a primeval law that completes
                    the law of the universe (as well of our lives) through the process 'like attracts like . The author
                    is also of the view that as people think-and-feel, so do they send a corresponding frequency to the
                    universe that in turn attracts events and circumstances of the same frequency. Hence, if one is
                    always able to think positive and think right, naturally, one will obtain the best results always.
                </span></p>
           </span>
           <a class="toggle-text" onclick="toggleText()" id="toggleBtn">Read more</a> 
       </div>
   </div>

   {% if session.user  %}
    <hr class="hr">

    <h4 class="center-align title">Create Review</h4>

    <!-- text form -->
    <div class="row box">
        <form class="text-body" method="POST" action="{{ url_for('the_secret') }}">
            <div class="row">

                <!-- review headline  -->
                <div class="col s12 ">
                    <h6>Add a headline</h6>
                    <label for="headline">comments:</label>
                    <textarea id="headline" placeholder="What's most important to know?" name="headline" minlength="5"
                        maxlength="100" required></textarea>
                </div>

                <!-- review textarea -->
                <div class="col s12 height">
                    <h6>Add a written review</h6>
                    <label for="book_review">comments:</label>
                    <textarea id="book_review" placeholder="What did you like or dislike about this book?"
                        name="book_review" minlength="5" style="height: 150px;" maxlength="600" required></textarea>

                    <!-- submit button -->
                    <button class="btn waves-effect orange darken-4 waves-light" type="submit">Submit
                        <i class="fas fa-share"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <h6 class="text-darken-4 center-align margin-top">Top Reviews from United Kindom</h6>

    <hr>

    <div class="container post-box">
        {% for review in reviews %}
        <div class="row">
            <div class="col s12 s6">
                <div class="card-panel">
                    <p><em><i class="fas fa-user-circle"></i> {{ review.created_by }}</em></p>
                    <p class="post">{{ review.headline }}</p>
                    <p class="post-2 bold text-color">Verified</p>
                    <p class="post-2"><em>Reviewed in the United Kingdom on</em> {{ review.date_time }}</p>
                    <p class="margin-bottom">{{ review.book_review}}</p> 
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('edit_secret_post', review_id=review._id) }}" class="waves-effect waves-light blue btn"><i class="far fa-edit"></i></a>
                    <a href="{{ url_for('delete_review_2', review_id=review._id) }}" class="modal-trigger waves-effect waves-light red btn"><i class="far fa-trash-alt"></i></a>
                {% endif %}
            </div>
        </div>  
    </div>

{% endfor %}
</div>
{% endif %}
</div>
    {% endblock %}