{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Review</h3>

<div class="container">

    <div class="row">

        <div class="col s7 push-s5 description-txt">
            <span class="flow-text">
                <h4 class="description">The Secret Hardcover – 4 Dec. 2006</h4>

                <a href="https://en.wikipedia.org/wiki/Rhonda_Byrne" target="_blank">
                    <p class="txt-1"><span>by</span> Rhonda Byrne</p>
                </a>

                <hr>

                <a href="https://www.amazon.co.uk/Secret-Rhonda-Byrne/dp/1471172392/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1635418158&sr=8-1"
                    class="waves-effect waves-light btn-large orange darken-4" target="_blank">Buy Now</a>

                <h4 class="description">Description</h4>

                <p class="txt">
                    The Secret by Rhonda Byrne is a self-help book that embarks to motivate the reader about a universal
                    paradigm about success that can be achieved though it remains hidden for most people. The book
                    explores about unveiling this little secret which may transform how people look at things and lead
                    them on to the road of success and true happiness. According to the author, the book makes proper
                    use of the 'law of attraction and shows how positive thinking can open treasure trove of bountiful
                    happiness, health and wealth. The book posits the law of attraction as a primeval law that completes
                    the law of the universe (as well of our lives) through the process 'like attracts like . The author
                    is also of the view that as people think-and-feel, so do they send a corresponding frequency to the
                    universe that in turn attracts events and circumstances of the same frequency. Hence, if one is
                    always able to think positive and think right, naturally, one will obtain the best results always.
                    
                </p>

            </span>
        </div>

        <!--book image -->
        <div class="col s5 pull-s7">
            <span class="flow-text">
                <img class="materialboxed" src="{{ url_for('static', filename='images/book-2.jpg') }}"
                    style="width: 60%;" alt="book">
            </span>
        </div>
    </div>

    <hr class="hr">

    <h4 class="center-align title">Create Review</h4>

    <!-- text form -->
    <div class="row box">
        <form class="text-body" method="POST" action="{{ url_for('the_secret') }}">
            <div class="row">

                <div class="col s12">
                    <h6>Overall rating</h6>
                    <input type="hidden" name="review_rating" value="3" required>
                    <input id="review_rating" name="review_rating" type="hidden" value="3" required>
                    <div id="review_rating" class="rating-star true"><input type="submit" value="&#9733;"></div>
                    <div id="review_rating" class="rating-star true"><input type="submit" value="&#9733;"></div>
                    <div id="review_rating" class="rating-star true"><input type="submit" value="&#9733;"></div>
                    <div id="review_rating" class="rating-star true"><input type="submit" value="&#9733;"></div>
                    <div id="review_rating" class="rating-star true"><input type="submit" value="&#9733;"></div>
                </div>

                <!-- review headline  -->
                <div class="col s12 ">
                    <h6>Add a headline</h6>
                    <label for="headline">comments:</label>
                    <textarea id="headline" placeholder="What's most important to know?" name="headline" minlength="5"
                        maxlength="100" required></textarea>
                </div>

                <!-- review textarea -->
                <div class="col s12 height">
                    <h6>Add a written review</h6>
                    <label for="the_secret_review">comments:</label>
                    <textarea id="the_secret_review" placeholder="What did you like or dislike about this book?"
                        name="the_secret_review" minlength="5" style="height: 150px;" maxlength="600" required></textarea>

                    <!-- submit button -->
                    <button class="btn waves-effect orange darken-4 waves-light" type="submit">Submit
                        <i class="fas fa-share"></i>
                    </button>
                    <a href="#" class="waves-effect waves-light blue btn"><i class="far fa-edit"></i></a>
                    <a href="#" class="waves-effect waves-light red btn"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </form>
    </div>

    <h6 class="text-darken-4 center-align margin-top">Top Reviews from United Kindom</h6>

    <hr>

    <div class="container post-box">
        {% for review in reviews %}
        <div class="row">
            <div class="col s12 s6">
                <div class="card-panel">
                    <p><em><i class="fas fa-user-circle"></i> {{ review.created_by }}</em></p>
                    <p class="post">{{ review.headline }}</p>
                    <p class="post-2 bold text-color">Verified</p>
                    <p>{{ review.the_secret_review }}</p>
                    <p><em>Reviewed in the United Kingdom on</em> {{ review.date_time }}</p>
                    {% if session.user|lower == review.created_by|lower %}
                    <a href="{{ url_for('edit_post', review_id=review._id) }}" class="waves-effect waves-light blue btn"><i class="far fa-edit"></i></a>
                    <a href="{{ url_for('delete_review', review_id=review._id) }}" class="waves-effect waves-light red btn"><i class="far fa-trash-alt"></i></a>
                {% endif %}
            </div>
        </div>  
    </div>
{% endfor %}
</div>
</div>
    {% endblock %}